@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @await Component.InvokeAsync("NowPlayingMovies")
    </div>

    <div class="col-md-4">
        @await Component.InvokeAsync("UpcomingMovies")
    </div>

    <div class="col-md-4">
        @await Component.InvokeAsync("TopRatedMovies")
    </div>
</div>
